/*body * {*/
/*    border: solid 1px #000 !important;*/
/*}*/

article > div > pre {
    overflow-x: auto !important;
    white-space: pre !important;
}

li {
    margin-bottom: 10px !important;
}

code {
    background-color: #eee !important;
    white-space: nowrap !important;
    border-radius: 3px !important;
    font-size: 0.85em !important;
    padding: 0 4px !important;
}

div[class*='--preview-'] {
    padding: 8px;
}

@media screen and (max-width: 400px) {

    div[class*='--preview-'] {
        border-right: none;
        border-left: none;
        border-radius: 0;
        margin: 0 -16px;
        display: block;
        padding: 5px;
        width: auto;
    }

}

.context-menu {
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 5px;
    width: 200px;
}

.context-menu *:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.context-menu *:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.context-menu p {
    text-align: center;
    padding: 10px;
    color: #666;
    margin: 0;
}

.context-menu button {
    border-top: solid 1px #ccc !important;
    background-color: transparent;
    padding: 10px;
    width: 100%;
}

.context-menu button, .button {
    font-size: inherit;
    cursor: pointer;
    color: #2f2f2f;
    border: none;
}

.context-menu button:hover, .button:hover {
    box-shadow: inset rgba(0, 0, 0, 0.05) 2000px 2000px;
}

.context-menu button:active, .button:active {
    box-shadow: inset rgba(0, 0, 0, 0.1) 2000px 2000px;
}

.text {
    margin: 0 0 15px 0;
    padding: 0;
}

.button {
    background-color: #00c4a7;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
}

.banner {
    background-color: #a3eee3;
    line-height: 100px;
    text-align: center;
    font-size: 1.4rem;
    color: #446156;
}

.box-container {
    flex-direction: row;
    margin: 0 -10px;
    display: flex;
}

.box {
    background-color: #ffb7c6;
    border: solid 1px #aaa;
    border-radius: 5px;
    text-align: center;
    line-height: 60px;
    margin: 0 10px;
    color: #6c1426;
    flex: 1 1 0;
}

.box-active {
    background-color: #a3eee3;
    border: solid 1px #007d6a;
    color: #007d6a;
}
