/* Main container */
main {
    max-width: 860px !important;
    padding: 40px !important;
    margin: 0 !important;
}

@media screen and (max-width: 400px) {
    main {
        padding: 20px !important;
    }
}

/* Headings */
main h1 {
    display: none !important;
}

main > section > section:first-child > article h1 {
    display: block !important;
    font-weight: bold;
    font-size: 36px;
}

main h2 {
    border-left: solid 20px #ccc !important;
    margin: 20px 0 20px -40px !important;
    padding-left: 20px !important;
    font-weight: bold !important;
    font-size: 28px !important;
    flex: 1 1 auto;
}

@media screen and (max-width: 400px) {
    main h2 {
        margin-left: -20px !important;
    }
}

main h3 {
    font-weight: bold !important;
    font-size: 20px !important;
}

/* Paragraphs */
article > div > p {
    margin-bottom: 16px !important;
    text-align: justify !important;
    line-height: 24px !important;
    font-size: 16px !important;
}


article > div > pre, article > div > blockquote > pre {
    background-color: #f2f2f2 !important;
    border: solid 1px #ccc !important;
    border-radius: 0 !important;
    white-space: pre !important;
    overflow-x: auto !important;
}

/* Content */
blockquote {
    border-left: solid 3px #b188f6 !important;
    padding: 16px 16px 2px 16px !important;
    background-color: #faf0ff !important;
    margin: 16px 0 !important;
}

li {
    margin-bottom: 5px !important;
}

code {
    background-color: #eee !important;
    white-space: nowrap !important;
    border-radius: 3px !important;
    font-size: 0.85em !important;
    padding: 0 4px !important;
}

/* Misc */
a[title*='Open isolated'] {
    display: none;
}

div[class*='--preview-'] {
    border: solid 3px #b188f6;
    margin: 25px 0 0 0;
    position: relative;
    border-radius: 0;
    padding: 10px;
}

div[class*='--preview-']:before {
    background-color: #b188f6;
    content: 'Live Example';
    position: absolute;
    font-weight: bold;
    line-height: 25px;
    font-size: 14px;
    padding: 0 8px;
    display: block;
    height: 25px;
    color: #fff;
    left: -3px;
    top: -25px;
}

.context-menu {
    box-shadow: inset rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.4) 0 3px 3px;
    background-color: #e1e1f9;
    width: 200px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.context-menu *:first-child {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.context-menu *:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.context-menu p {
    text-align: center;
    padding: 10px;
    color: #666;
    margin: 0;
}

.context-menu button {
    border-top: solid 1px rgba(0, 0, 0, 0.2) !important;
    background-color: transparent;
    padding: 10px;
    width: 100%;
}

.context-menu button, .button {
    font-size: inherit;
    cursor: pointer;
    color: #2f2f2f;
    border: none;
}

.context-menu button:hover, .button:hover {
    box-shadow: inset rgba(0, 0, 0, 0.05) 2000px 2000px;
}

.context-menu button:active, .button:active {
    box-shadow: inset rgba(0, 0, 0, 0.1) 2000px 2000px;
}

.text {
    margin: 0 0 15px 0;
    padding: 0;
}

.button {
    background-color: #00c4a7;
    padding: 10px 20px;
    color: #fff;
}

.banner {
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 0 1px;
    background-color: #a3eee3;
    line-height: 100px;
    text-align: center;
    font-size: 1.2rem;
    color: #446156;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.box-container {
    flex-direction: row;
    display: flex;
    margin: -5px;
}

.box {
    box-shadow: inset rgba(0, 0, 0, 0.1) 0 0 0 1px;
    background-color: #ffb7c6;
    text-align: center;
    line-height: 60px;
    color: #6c1426;
    margin: 5px;
    flex: 1 1 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 400px) {
    .box-container {
        flex-direction: column;
    }
}

.box-active {
    background-color: #a3eee3;
    color: #007d6a;
}
